.header{
    margin-bottom: 20px;
 
}

.img1{
    margin-right: -32px;

}


.img2{
    margin-top: 15px;
    margin-left: -32px;
}

.subtext{
    margin-top: 10px;
    font-weight: 600;
}


#left{
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid ;
    border-color: grey;
    background-color: white;
    color: grey;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s ;
}

#left:hover{
    background-color: #faca76;
    border: 2px solid #faca76;
    box-shadow: 1px 1px 25px #faca76;
    color:white;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}



#right{
    font-weight: 500;
    color: grey;
    border-radius: 30px;
    border: 2px solid ;
    border-color: grey;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s ;
}

#right:hover{
    background-color: #5ab9b7;
    color:white;
    box-shadow: 1px 1px 25px #5ab9b7;
    border: 2px solid #5ab9b7;
    transition: background-color 0.2s, color 0.2s border 0.2s;
}

.buttonArea{
    padding-top: 50px;
}


@media screen and (max-width: 600px) {

    .img1{
        width: 50%; 
        margin-left: -12px;
    }

    .img2{
        width: 50%;
        margin-left: -13px;
        margin-bottom: 5px;

    }

    .headerimg{
        width: 70%;
        height: auto;
    }



    #left{
        border-radius: 30px;
        padding: 5px;
    }
    
    #right{
        border-radius: 30px;
        padding: 5px;
    }
 
}



}