body, html {
	font-family: 'Myriad Pro', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: 'aria narrow', sans-serif;
}
h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */

.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: rgb(249,207,131);
	background: radial-gradient(circle, rgba(249,207,131,1) 0%, rgba(245,175,49,1) 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
    border-radius: 30px;
    border: 2px solid ;
    border-color: #338a83;
    background-color: white;
    color: #338a83;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s ;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #338a83;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */

#header{
	height: 500px;
}

.headerPic{
		height: 100vh;
		background: url(../img/header.png) center no-repeat;
		background-color: white;
		background-position: left 0%;
		background-size: cover;

}


.intro {
	width: 100%;
	position: relative;
	padding: 0;
}
.intro .overlay {
	position: absolute;
	background-color: rgba(0,255,0,0,0);
	width: 100%;
	height: 100%;
}
header .intro-text  h1 {
	font-family: 'Raleway', sans-serif;
	color: #3b908c;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
}


#headertext{
padding-top: 230px;
color: white;
font-size: 4rem;
}

#headerSubtext{
	font-weight: 600;
}


#headerSubpara{
	font-size: 14px;
}

header .intro-text span {
	font-weight: 800 !important;
	color: #5ca9fb;
}


header .intro-text {
	position: relative;
	padding-bottom: 50px;
	text-align: center;
	color: black;
}



.fill{
	height: 100%;
}
/* Features Section */
#features1{
	background: #f6f6f6;
	padding: 100px 0;
}



#features {
	background: white;
	padding: 100px 0;
}
#features .fas {
	margin-bottom: 20px;
	font-size: 50px;
	padding: 25px;
	color: #fff;
	width: auto;
	height: auto;
	border-radius: 50%;
	background: #f6b541;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}

.featuretext{
	font-weight: 500;
	font-size: 20px;
}

.featureSubText{
	font-weight: 500;
	font-size: 18px;
}


.subtext{
	font-size: 20px;
	margin-top: 50px;
	font-weight: 600;
}



/* About Section */
#about {
	padding: 100px 0;
	background: white;
}

#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#about h2::after {
	position: absolute;
	content: "";
	background: rgb(249,207,131);
	background: radial-gradient(circle, rgba(249,207,131,1) 0%, rgba(245,175,49,1) 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}
#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style:none;
	padding: 0;
	font-size: 20px;
}
#about .about-text li:before {
	content: "\2022";
	color: #f5af31;
	font-size: 20px;
	font-weight: 300;
	padding-right: 8px;
}
#about img {
	max-width: 80%;
	height: auto;
	margin-top: 10px;
	border-right: 0;

}
#about p {
	font-size: 20px;
	line-height: 1.5;
	margin: 30px 0;
}





/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background: rgb(249,207,131);
	background: radial-gradient(circle, rgba(249,207,131,1) 0%, rgba(245,175,49,1) 100%);
	color: rgba(255,255,255,.75);
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact .section-title p {
	font-size: 16px;
}
#contact h2 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#contact h3 {
	color: #fff;
	margin-top: 80px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}
#contact form {
	padding-top: 20px;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid white;
	color: white;
}
#contact .btn-custom:hover {
	color: #f6b541;
	background: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	margin-bottom: 10px;
	display: block;
}
#contact .contact-item i.fa {
	margin-right: 10px;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.15);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fab {
	font-size: 22px;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}
#contact .social i.fab:hover {
	color: #608dfd;
	background: #fff;
}


.contactimg{
	width: 30%;
}

.contactLinks a{
	color: white;
	text-decoration: none;
}











/* Footer Section*/

.footerText p {
	margin-right: 10px;
}


#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #608dfd;
}
#footer a:hover {
	border-bottom: 2px solid #608dfd;
}












/* Portrait */

/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


	header .intro-text {
		padding-bottom: 100px;
	}


	#headertext{
		font-size: 30px;
		color: #f6b541;
	}
	.headerPic{
		height: 50vh;
		background-color: white;
		background-position: left 0%;
		background-size: contain;

	}
}

*/




/* tablet */
/* On screens that are 992px or less, set the background color to blue */

@media only screen 
and (min-device-width: 600px) 
and (max-width: 992px) {


	#header .intro-text {
		padding-bottom: 80px;
		
	}

	#headertext{
		font-size: 35px;
		color: white;
	}

	.headerPic{
		height: 40vh;
		background-color: white;
		background-position: left 0%;
		background-size: contain;
	}

	
  }

  /*Smartphone*/
@media screen 
and (max-width : 500px){


	#header .intro-text {
		padding-bottom: 75px;
	}


	#headertext{
		font-size: 30px;
		color: #f6b541;
	}
	.headerPic{
		height: 50vh;
		background-color: white;
		background-position: left 0%;
		background-size: contain;

	}
}

@media screen 
and (min-width : 800px){


	#header .intro-text {
		padding-bottom: 80px;
		
	}

	#headertext{
		font-size: 35px;
		color: white;
	}

	.headerPic{
		width: 100vw;
		background-color: white;
		background-position: left 0%;
		background-size: contain;
	}
}


@media screen 
and (min-width : 1200px){

	#header{
		height: 750px;
	}

	#header .intro-text {
		padding-bottom: 200px;
	}


	#header .intro-text {
		padding-bottom: 200px;
	}

	#headertext{
		font-size: 60px;
		color: white;
	}

	.headerPic{
		width: 100vw;
		background-color: white;
		background-position: left 0%;
		background-size: contain;
	}
}

@media screen 
and (min-width : 1440px){

	#header{
		height: 750px;
	}

	#header .intro-text {
		padding-bottom: 30px;
	}


	#headertext{
		font-size: 60px;
		color: white;
	}

	.headerPic{
		width: 100vw;
		background-color: white;
		background-position: left 0%;
		background-size: contain;
	}
}


@media screen 
and (min-width : 1920px){

	#header{
		height: 1200px;
	}

	#header .intro-text {
		padding-bottom: 10px;
	}


	#headertext{
		font-size: 60px;
		color: white;
	}

	.headerPic{
		width: 100%;
		height: 100%;
		background-color: white;
		background-position: left 0%;
		background-size: cover 10%;
	}
}

@media screen 
and (min-width : 3840px){

	#header{
		height: 2000px;
	}

	#header .intro-text {
		padding-top: 500px;
	}


	#headertext{
		font-size: 80px;
		color: white;
	}

	.headerPic{
		width: 100vw;
		background-color: white;
		background-position: left 0%;
		background-size: contain;
	}
}