#center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#center h2 {
  text-align: center;
}



@media only screen and (max-width: 800px) {
  img {
    width: 100%;
  }

  #center h2 {
    font-size: 35px;
  }
}


@media only screen and (max-width: 390px) {
	img {
	  width: 100%;
	}
  
	#center h2 {
	  font-size: 25px;
	}
  }
