.wrapperModal{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: whitesmoke;
    position: absolute;
    padding: 10px;
    z-index: 11;
}

.modalContent{
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: green;
}
